.navbar{
    background: white;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 1.9rem;
}
.navbar-brand{
    font-size: 1.9rem;
    
}

.navbar a{
    color:black
}

.banner-container{
    background: url(/image/—Pngtree—wavy\ abstract\ grey\ gradient\ background_1202067.jpg);
}
.banner-container .col{
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.banner-container .btn{
    padding: 1px 35px;
    margin: 5px ;
}
.aboutsection{
    font-family: 'Ubuntu', sans-serif;

}
.aboutsection .mt-2{
    padding: 3rem;
    background-color: #343A40;
    color: rgb(228, 218, 218);
    font-family: 'Ubuntu', sans-serif;

}
.worksec{
    background-color: teal;
}
.contactsec{
    background-color: #343A40;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(228, 218, 218);
    padding: 3rem;
}
ul{
    list-style: none;
}